* text=auto !eol
/AUTHORS -text
/BUGS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README -text
/TODO -text
/aclocal.m4 -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
doc/Makefile.am -text
doc/Makefile.in -text
doc/man/Makefile.am -text
doc/man/Makefile.in -text
doc/man/garmin_dump.1 -text
doc/man/garmin_get_info.1 -text
doc/man/garmin_gmap.1 -text
doc/man/garmin_gpx.1 -text
doc/man/garmin_save_runs.1 -text
extras/Makefile.am -text
extras/Makefile.in -text
extras/fore2gmn.pl -text
/install-sh -text
/ltmain.sh -text
/missing -text
python/Makefile.am -text
python/Makefile.in -text
python/garmintools/__init__.py -text
python/pygarmin.c -text
python/setup.py -text
src/Makefile.am -text
src/Makefile.in -text
src/byte_util.c -text
src/command.c -text
src/config.h -text
src/config.h.in -text
src/datatype.c -text
src/garmin.h -text
src/garmin_dump.c -text
src/garmin_gchart.c -text
src/garmin_get_info.c -text
src/garmin_gmap.c -text
src/garmin_gpx.c -text
src/garmin_save_runs.c -text
src/pack.c -text
src/packet_id.c -text
src/print.c -text
src/protocol.c -text
src/run.c -text
src/scan.c -text
src/symbol_name.c -text
src/unpack.c -text
src/usb_comm.c -text
